@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* border: 1px solid black; */
}

::selection {
  color: #ffffff;
  background: #5570f1;
}

/* Color Variable */
/* Orange = #FFB26F */
/* Green = #91DDCF */
/* Blue = #7BD3EA */
/* Red = #FF8080 */

@layer base {
  :root {
    --color-main-background: #f4f5fa;

    --color-primary_100: #789dbc;
    --color-primary_90: #6078ec;
    --color-primary_80: #6d83ec;
    --color-primary_70: #7c8fec;
    --color-primary_60: #8899e9;
    --color-primary_50: #97a5eb;
    --color-primary_40: #abb5e9;
    --color-primary_30: #b6bfe8;
    --color-primary_20: #c4cae8;
    --color-primary_10: #dbdeee;

    --color-secondary_100: #ffcc91;
    --color-secondary_90: #ffd29e;
    --color-secondary_80: #ffdaae;
    --color-secondary_70: #ffdfba;
    --color-secondary_60: #ffe5c8;
    --color-secondary_50: #ffead1;
    --color-secondary_40: #fff0de;
    --color-secondary_30: #fff2e2;
    --color-secondary_20: #fef5ea;
    --color-secondary_10: #fef9f2;

    --color-night_100: #1c1d22;
    --color-night_90: #2c2d33;
    --color-night_80: #33343a;
    --color-night_70: #37393f;
    --color-night_60: #45464e;
    --color-night_50: #53545c;
    --color-night_40: #6e7079;
    --color-night_30: #8b8d97;
    --color-night_20: #a6a8b1;
    --color-night_10: #bec0ca;

    --color-action-go: #519c66;
    --color-action-stop: #cc5f5f;
  }
}
